body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link-pages-login{
  color: blue;
  text-decoration: none;
  font-size: 1.2rem;
}

.button-logout{
  color: black;
  background-color: transparent;
  border: none;
  margin-top: 0.1rem;
  font-size: 1.2rem;
}

.welcome-text{
  margin-top: 1rem;
}